<!--=================================================================================>
    VETONDEMAND
<|--===============================================================================-->
<span webfont-loader='gotham'></span>
<span webfont-loader='proxima'></span>
<!--Menu Include-->
<!--suppress ALL -->
<scroll-menu></scroll-menu>

<div class="grid-block wrap  small-12" id="hero">
	<div class="grid-block align-center self-stretch small-12 noscroll noverflow section-block block-fullscreen" sm-scene="hero" duration="150%" offset="0" trigger-hook="0">
		<div class="hero-bg" sm-tween="hero" vars="{y:'20%'}"></div>
		<div class="grid-block noscroll items-center medium-justify-center section-container small-12">
			<div class="grid-content small-8 text-center fade-in ">
				<img src="assets/images/vetondemand/brand/logo-h-white.svg" width="200px" alt="">
			</div>
		</div>
		<span sm-scene="phone" duration="150%" offset="0" trigger-hook="0"></span>

		<div class="hero-phone-container phone-history" sm-tween="phone" vars="{yPercent:'20%'}">
			<span class="render-huge history gold right"></span>
		</div>
		<span sm-scene="phone" duration="150%" offset="0" trigger-hook="0"></span>

		<div class="hero-phone-container phone-call" sm-tween="phone" vars="{yPercent:'20%'}">
			<span class="render-huge call gold right"></span>
		</div>
	</div>
</div>
<!--------------------------------------------------------------------------------
    Overview
<|-------------------------------------------------------------------------------->

<div class="grid-block wrap  small-12" id="overview">

	<div class="grid-block align-center self-stretch small-12 noscroll section-block p-t-l">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-9 large-8 p-b-d">

			<div class="grid-content ">

				<p class="tiny uppercase m-t-m"><strong>Product</strong></p>
				<p class="small">Vet On Demand is the first mobile application to provide personalized, real time access to veterinary advice and recommendations through the power
				                 of live&nbsp;video&nbsp;conferencing.
				</p>
				<p class="tiny uppercase m-t-t"><strong>Role</strong></p>
				<p class="tiny weight-500 uppercase">CoFounder / Design / UI+UX / Frontend</p>
			</div>

			<div class="grid-content">

			</div>

		</div>
	</div>

</div>

<!--------------------------------------------------------------------------------
    Research
<|-------------------------------------------------------------------------------->

<div class="grid-block wrap  small-12" id="research">

	<div class="grid-block align-center self-stretch small-12 noscroll section-block block-small">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<span class="icon icon-heading icon-research"></span>
				<h4 class="section-heading">Research</h4>
				<h6 class="fade-in">Dog whispering was only the beginning...</h6>
			</div>
		</div>
	</div>

	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block wrap noscroll align-center items-center section-container small-12 medium-10 large-8 p-b-l">
			<div class="grid-content small-12 text-center">
				<img class="research-chart" src="assets/images/vetondemand/chart-2.png" width="400px" alt="" class="fade-in">
			</div>
			<div class="grid-content small-12 text-center">

				<h6 class="section-heading centered block">There are plenty of Vets</h6>

				<p class="small">The U.S. supply of veterinarians in 2012 was 90,200, and that supply exceeded the demand for veterinary services by about 11,250 full-time&nbsp;equivalent&nbsp;veterinarians.</p>
			</div>

		</div>
	</div>


	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block wrap noscroll align-center items-center section-container small-12 medium-10 large-8 p-b-l">
			<div class="grid-content small-12 text-center">
				<img class="research-chart" src="assets/images/vetondemand/chart-1.png" width="400px" alt="">
			</div>
			<div class="grid-content small-12 text-center">

				<h6 class="section-heading centered block">incomes are falling</h6>

				<p class="small">Over the past decade, veterinarians have seen their wages fall. Increasing prices from pharmaceutical companies and the ever advancing march of
				                 technology have cut even deeper into&nbsp;practices&nbsp;nationwide.
				</p>
			</div>

		</div>
	</div>

	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-7 p-b-l">

			<div class="grid-content text-center">
				<h5 class="p-h-l blockquote">72% of cats and 42% of dogs only see a vet either once or not&nbsp;at&nbsp;all&nbsp;annually</h5>
			</div>

		</div>
	</div>


	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll align-center items-center content-center section-container wrap small-12 medium-10 p-b-l" sm-scene="tween-section" duration="200%" offset="0" trigger-hook="1">

			<div class="grid-content small-6">
				<span class="section-subheading">Prices are rising</span>

				<p class="small">Going to the vet has not been getting less expensive. Prices have risen steadily at or faster than inflation for two decades. Americans will spend
				                 over 60 billion this year on their pets, more than a third of that going to veterinary care.
				</p>
			</div>
			<div class="grid-content small-6">
				<span class="section-subheading">People are busy</span>

				<p class="small">Going into a brick and mortar vet clinic takes time. If you have to leave work, going home and back again with the animal adds even more stress to
				                 an already stressful situation. Being able to access key services via our devices is expected today.
				</p>
			</div>
		</div>
	</div>

</div>

<!--------------------------------------------------------------------------------
    Insight
<|-------------------------------------------------------------------------------->

<div class="grid-block wrap  small-12" id="insight">

	<div class="grid-block align-center self-stretch small-12 noscroll section-block block-small">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<span class="icon icon-heading icon-insight"></span>
				<h4 class="section-heading">Insight</h4>
				<h6 class="fade-in">Every pet should have access to the care they deserve.</h6>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<h6 class="section-heading">Problem</h6>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block snug-section">
		<div class="grid-block noscroll align-center items-center content-center section-container wrap small-12 medium-9 large-6 " sm-scene="tween-section" duration="200%" offset="0" trigger-hook="1">

			<div class="grid-content small-12 text-center typeset">

				<p class="">Our pets are not getting the care they need despite there being more than enough vets who are trained and ready to provide&nbsp;their&nbsp;services.
				</p>

				<p class="">The traditional model for veterinary care is not equiped to provide the intermediary care that is lacking in so&nbsp;many&nbsp;pet&nbsp;households.</p>

			</div>

		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<h6 class="section-heading">Solution</h6>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block snug-section">
		<div class="grid-block noscroll align-center items-center content-center section-container wrap small-12 medium-9 large-6" sm-scene="tween-section" duration="200%" offset="0" trigger-hook="1">

			<div class="grid-content small-12 text-center typeset">

				<p class="">Vet On Demand facilitates trusted, convenient, and affordable access to licensed veterinarians who provide the advice and recommendations to those who
				            would otherwise&nbsp;forgo&nbsp;it.
				</p>

				<p class="">By allowing on demand economics into a traditionally closed system, we increase the level and scope of care our pets receive while the size of the
				            market grows to its&nbsp;full&nbsp;potential.
				</p>

			</div>

		</div>
	</div>
</div>

<!--------------------------------------------------------------------------------
    Branding
<|-------------------------------------------------------------------------------->

<div class="grid-block wrap small-12" id="branding">
	<div class="grid-block align-center self-stretch small-12 noscroll section-block block-small">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<span class="icon icon-heading icon-branding"></span>
				<h4 class="section-heading">Branding</h4>
				<h6 class="fade-in">Trusted. Convenient. Affordable.</h6>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<h6 class="section-heading">Logo</h6>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block wrap noscroll align-spaced items-center section-container small-12 medium-10 large-9">
			<div class="grid-content small-12 medium-6">
				<div class="logo-h"></div>
			</div>
			<div class="grid-content small-12 medium-6">
				<div class="logo-v"></div>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<h6 class="section-heading">Color</h6>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll align-spaced items-center section-container small-12 medium-9 large-8">
			<div class="grid-content" ng-repeat="color in vetondemand.colors track by $index">
				<div class="color-card {{color.name}}">
					<div class="color-preview "></div>
					<div class="color-shades"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<h6 class="section-heading">Type</h6>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll wrap align-center large-align-spaced items-start section-container small-12 medium-11 large-9">
			<div class="grid-content small-12 medium-7 large-6 m-b-m " ng-repeat="font in vetondemand.fonts track by $index">
				<span class="section-subheading">{{font.name}} <span class="iota text-light">{{font.weight}}</span></span>

				<div class="waterfall {{font.class}} m-b-s">
					ABCDEFGHIJKLMNOPQRSTUVWXYZ<br/>
					abcdefghijklmnopqrstuvwxyz<br/>
					0123456789!@#$%^&*();:,.?
				</div>
				<div class="tqbfjotld {{font.class}} ">
					The quick brown fox jumped over the lazy dog.
				</div>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<h6 class="section-heading">Photo</h6>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block small-12 medium-10  noscroll wrap align-spaced items-center section-container photo-grid" chocolat config="vetondemand.config" instance="instance">
			<div class="grid-content {{photo.size}}" ng-repeat="photo in vetondemand.photos track by $index">
				<a class="photo-grid-item chocolat-image {{photo.id}}" href="{{photo.src}}" style="background-image:url('{{photo.thumb}}')"></a>
			</div>
		</div>
	</div>
</div>

<!--------------------------------------------------------------------------------
    Mobile
<|-------------------------------------------------------------------------------->

<div class="grid-block wrap  small-12" id="mobile">

	<div class="grid-block align-center self-stretch small-12 noscroll section-block block-small">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<span class="icon icon-heading icon-mobile"></span>
				<h4 class="section-heading">Mobile</h4>
				<h6 class="fade-in">It's like having a vet in your pocket.</h6>
			</div>
		</div>
	</div>

	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<h6 class="section-heading">iOS</h6>
			</div>
		</div>
	</div>


	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block phone-render-container wrap noscroll align-spaced items-center section-container small-12 medium-12 large-10" chocolat config="vetondemand.configalt" instance="instance">
			<div class="grid-block small-12 medium-3" ng-repeat="render in vetondemand.ios track by $index">
				<div class="grid-content collapse">
					<a href="{{render.src}}" class="render-large {{render.screen}} gold {{render.direction}} chocolat-image"></a>
				</div>
			</div>
		</div>
	</div>


	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<h6 class="section-heading">Android</h6>
			</div>
		</div>
	</div>

	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block phone-render-container wrap noscroll align-spaced items-center section-container small-12 medium-12 large-10" chocolat config="vetondemand.configalt" instance="instance">
			<div class="grid-block small-12 medium-3" ng-repeat="arender in vetondemand.android track by $index">
				<div class="grid-content collapse">
					<a href="{{arender.src}}" class="render-large android android-{{arender.screen}} {{arender.direction}} chocolat-image"></a>
				</div>
			</div>
		</div>

	</div>
</div>
<!--------------------------------------------------------------------------------
    Web
<|-------------------------------------------------------------------------------->

<div class="grid-block wrap  small-12" id="web">
	<div class="grid-block align-center self-stretch small-12 noscroll section-block block-small">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<span class="icon icon-heading icon-web"></span>
				<h4 class="section-heading">Web</h4>
				<h6 class="fade-in">Instantly scalable, always available.</h6>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<h6 class="section-heading">User Interface</h6>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block phone-render-container wrap noscroll align-spaced items-center section-container small-12 medium-12 large-10" chocolat config="vetondemand.configalt" instance="instance">
			<div class="grid-block small-12 medium-6" ng-repeat="screen in vetondemand.web track by $index">
				<div class="grid-content collapse">
					<a href="{{screen.src}}" class="web-large chocolat-image" style="background-image: url({{screen.thumb}});"></a>
				</div>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll section-block">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<h6 class="section-heading">The Stack</h6>
			</div>
		</div>
	</div>
	<div class="grid-block align-center self-stretch small-12 noscroll  section-block">
		<div class="grid-block wrap noscroll align-center items-center section-container small-10 medium-9 large-10">
			<div class="grid-content small-6 medium-3 large-2" ng-repeat="logo in vetondemand.logos track by $index">
				<span class="stack-logo {{logo.name}}"></span>
			</div>
		</div>
	</div>
</div>

<!--------------------------------------------------------------------------------
    Marketing
<|-------------------------------------------------------------------------------->

<div class="grid-block wrap small-12 m-b-d" id="marketing">
	<div class="grid-block align-center self-stretch small-12 noscroll section-block block-small">
		<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">
			<div class="grid-content text-center fade-in">
				<span class="icon icon-heading icon-marketing"></span>
				<h4 class="section-heading">Marketing</h4>
				<h6 class="fade-in">Not a four letter word.</h6>
			</div>
		</div>
	</div>
	<!--<div class="grid-block align-center self-stretch small-12 noscroll section-block">-->
	<!--<div class="grid-block noscroll align-center items-center section-container small-12 medium-10 large-8">-->
	<!--<div class="grid-content text-center fade-in">-->
	<!--<h6 class="section-heading">Collateral</h6>-->
	<!--</div>-->
	<!--</div>-->
	<!--</div>-->
	<div class="grid-block align-center self-stretch small-12 noscroll  section-block">
		<div class="grid-block wrap noscroll align-center items-center section-container small-10 medium-9 large-10">
			<div class="grid-content small-6 medium-3 text-center">
				<p class="coming-soon"><em>Coming soon...</em></p>
			</div>
		</div>
	</div>
</div>
