.section-block {
	//&:first-child {
	&.block-fullscreen {
		min-height: 100vh;
	}
	&:not(.block-fullscreen) {
		padding-right: 3rem;
		padding-left:  3rem;
		@include breakpoint('medium') {
			padding-right: 0;
			padding-left:  0;
		}
	}
	//@include p($spacing-small,vertical);
	&.block-small {
		min-height: 50vh;
	}
	//}
	& + * {
		margin-top: 4rem;
		&.snug-section {
			margin-top: 1rem;
		}
	}
}

.vetondemand[ui-view] {
	#{$headings-list} {
		//color: $vod-purple;
		&.section-heading {
			display:     inline-block;
			color:       $black;
			font-family: unquote(map-get($bodytype, font-family));
			font-style:  normal;
			font-weight: 700;
			position:    relative;
			&:after {
				content:          '';
				position:         absolute;
				bottom:           0;
				left:             50%;
				height:           1px;
				background-color: $gold;
				transform:        translateX(-50%);
			}
			+ {
				#{$headings-list} {
					text-transform: none;
				}
			}
		}
	}

	h4 {
		&.section-heading {
			margin-bottom:  $spacing-small;
			padding-bottom: $spacing-small;
			&:after {
				width: 150%;
			}
		}
	}
	h6 {
		&.section-heading {
			margin-bottom:  $spacing-tiny;
			padding-bottom: $spacing-tiny;
			&:after {
				width: 60%;
			}
		}
	}
}

span.section-subheading {
	display:        inline-block;
	color:          $black;
	font-family:    unquote(map-get($bodytype, font-family));
	font-style:     normal;
	font-weight:    700;
	position:       relative;
	text-transform: uppercase;
	letter-spacing: 0.08rem;
	margin-bottom:  $spacing-small;
	padding-bottom: $spacing-small;
	@include roar-fontsize('theta', all);
	&:after {
		content:          '';
		position:         absolute;
		bottom:           0;
		left:             0;
		width:            10%;
		height:           1px;
		background-color: #bfbfbf;
		//transform:        translateX(-50%);
	}
}

@mixin iphone-render($a,$h:false) {
	@if $h {
		width:  $a * .34;
		height: $a;
	} @else {
		width:  $a;
		height: $a * 2.96;
	}
}

@mixin android-render($a,$h:false) {
	@if $h {
		width:  $a * .56;
		height: $a;
	} @else {
		width:  $a;
		height: $a * 1.77;
	}
}

[class^='render-'] {
	display:             block;
	position:            relative;
	backface-visibility: hidden;
	background-size:     contain;
	background-position: center center;
	background-repeat:   no-repeat;
	margin:              auto;
}

.render {
	&-small {
		@include iphone-render(5rem);
		&.android {
			@include android-render(5rem);
		}
	}
	&-medium {
		@include iphone-render(8rem);
		&.android {
			@include android-render(11rem);
		}
	}
	&-large {
		@include iphone-render(12rem);
		@include media('<=large') {
			@include iphone-render(8rem);
		}
		&.android {
			@include android-render(18rem);
			@include media('<=large') {
				@include android-render(12rem);
			}
		}
	}
}

@include media('<=medium') {
	.phone-render-container {
		> .grid-block {
			& + * {
				margin-top: $spacing-huge;
			}
		}
	}
}

.hero-bg {
	will-change:         transform;
	position:            absolute;
	top:                 0;
	left:                0;
	bottom:              0;
	right:               0;
	height:              100%;
	width:               100%;
	transform:           translate3d(0, 0, 0);
	backface-visibility: hidden;
	background-size:     cover;
	background-position: center center;
	background-repeat:   no-repeat;
}

#overview {
	.hero-bg {
		background-image: url('../assets/images/vetondemand/brand/overlay-brand-primary.png');
	}
	.logo-mark {
		margin:              auto;
		height:              5rem;
		width:               5rem;
		background-size:     contain;
		background-position: center center;
		background-repeat:   no-repeat;
		background-image:    url('../assets/images/vetondemand/brand/logo-mark-white.svg');
	}
	.block-fullscreen {
		.hero-bg {
			//height: 110vh;
			//top:    auto;
		}
	}
}

#branding {
}

@mixin color-card($color) {
	.color-preview {
		background-color: $color;
	}
	.color-shades {
		background-image: linear-gradient(to left,
			mix($color, white, 20%) 0%,
			mix($color, white, 20%) 20%,
			mix($color, white, 40%) 21%,
			mix($color, white, 40%) 40%,
			mix($color, white, 60%) 41%,
			mix($color, white, 60%) 60%,
			mix($color, white, 80%) 61%,
			mix($color, white, 80%) 80%,
			mix($color, white, 90%) 81%,
			mix($color, white, 90%) 100%
											);
	}
}

$vod-brand-colors: (
										 purple:$vod-purple,
										 gold:$vod-yellow,
										 grey1:#eeeeee,
										 grey2:#d5d5d5,
										 gunmetal:#353535
									 );

.color-card {
	border-color: $black;
	border-width: 1px;
	.color-preview {
		padding-bottom: 100%;
	}
	.color-shades {
		height: 2rem;
	}
	@each $item, $color in $vod-brand-colors {
		&.#{$item} {
			@include color-card($color)
		}
	}
}

.photo-grid {
	.grid-content {
		overflow:     hidden;
		padding:      0;
		border-color: white;
		border-width: 1px;
	}
	&-item {
		flex:                1 1 auto;
		display:             block;
		backface-visibility: hidden;
		background-size:     cover;
		background-position: center center;
		background-repeat:   no-repeat;
		padding-bottom:      56%;
		margin:              auto;
		//width: 90%;
		//height: 90%;
		transform:           scale3d(1, 1, 1);
		transition:          transform 5s ease-in;
		&:hover {
			transform: scale3d(1.25, 1.25, 1.25);
		}
	}
}

.waterfall,
.tqbfjotld {
	letter-spacing: 0.02rem;
}

.gotham {
	font-family: $gotham;
}

.proxima {
	font-family: $proxima;
}

.icon {
	&-heading {
		display:             block;
		height:              5rem;
		width:               5rem;
		margin:              0 auto .5rem auto;
		backface-visibility: hidden;
		background-size:     cover;
		background-position: center center;
		background-repeat:   no-repeat;
	}
	&-research {
		background-image: url('../assets/img/lionhouse/data.svg');
	}
	&-insight {
		background-image: url('../assets/img/lionhouse/devise.svg');
	}
	&-branding {
		background-image: url('../assets/img/lionhouse/design.svg');
	}
	&-mobile {
		background-image: url('../assets/img/lionhouse/UI.svg');
	}
	&-web {
		background-image: url('../assets/img/lionhouse/UX-IA.svg');
	}
	&-marketing {
		background-image: url('../assets/img/lionhouse/interface.svg');
	}
}

[class^='render-'] {
	&.home {
		&.gold {
			&.front {
				background-image: url('../assets/images/vetondemand/renders-v2/home-gold-front.png');
			}
			&.left {
				background-image: url('../assets/images/vetondemand/renders-v2/home-gold-left.png');
			}
			&.right {
				background-image: url('../assets/images/vetondemand/renders-v2/home-gold-right.png');
			}
		}
	}
	&.call {
		&.gold {
			&.front {
				background-image: url('../assets/images/vetondemand/renders-v2/call-gold-front.png');
			}
			&.left {
				background-image: url('../assets/images/vetondemand/renders-v2/call-gold-left.png');
			}
			&.right {
				background-image: url('../assets/images/vetondemand/renders-v2/call-gold-right.png');
			}
		}
	}
	&.profile-vet {
		&.gold {
			&.front {
				background-image: url('../assets/images/vetondemand/renders-v2/profile-vet-gold-front.png');
			}
			&.left {
				background-image: url('../assets/images/vetondemand/renders-v2/profile-vet-gold-left.png');
			}
			&.right {
				background-image: url('../assets/images/vetondemand/renders-v2/profile-vet-gold-right.png');
			}
		}
	}
	&.signup {
		&.gold {
			&.front {
				background-image: url('../assets/images/vetondemand/renders-v2/signup-gold-front.png');
			}
			&.left {
				background-image: url('../assets/images/vetondemand/renders-v2/signup-gold-left.png');
			}
			&.right {
				background-image: url('../assets/images/vetondemand/renders-v2/signup-gold-right.png');
			}
		}
	}
	&.receipt {
		&.gold {
			&.front {
				background-image: url('../assets/images/vetondemand/renders-v2/receipt-gold-front.png');
			}
			&.left {
				background-image: url('../assets/images/vetondemand/renders-v2/receipt-gold-left.png');
			}
			&.right {
				background-image: url('../assets/images/vetondemand/renders-v2/receipt-gold-right.png');
			}
		}
	}
	&.android-queue {
		background-image: url('../assets/images/vetondemand/renders-android/android-angle.png');
	}
	&.android-menu {
		background-image: url('../assets/images/vetondemand/renders-android/android-angle-right.png');
	}
	&.android-call {
		background-image: url('../assets/images/vetondemand/renders-android/android-front.png');
	}
}
