/* Webfont: StereoGothic-850 */@font-face {
    font-family: 'StereoGothic850';
    src: url('StereoGothic-850.eot'); /* IE9 Compat Modes */
    src: url('StereoGothic-850.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('StereoGothic-850.woff') format('woff'), /* Modern Browsers */
         url('StereoGothic-850.ttf') format('truetype'), /* Safari, Android, iOS */
         url('StereoGothic-850.svg#StereoGothic-850') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

