/* Webfont: StereoGothic-300 */@font-face {
    font-family: 'StereoGothic300';
    src: url('StereoGothic-300.eot'); /* IE9 Compat Modes */
    src: url('StereoGothic-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('StereoGothic-300.woff') format('woff'), /* Modern Browsers */
         url('StereoGothic-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('StereoGothic-300.svg#StereoGothic-300') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

