/* Webfont: StereoGothic-100 */@font-face {
    font-family: 'StereoGothic100';
    src: url('StereoGothic-100.eot'); /* IE9 Compat Modes */
    src: url('StereoGothic-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('StereoGothic-100.woff') format('woff'), /* Modern Browsers */
         url('StereoGothic-100.ttf') format('truetype'), /* Safari, Android, iOS */
         url('StereoGothic-100.svg#StereoGothic-100') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

