/* Webfont: StereoGothic-650Italic */@font-face {
    font-family: 'StereoGothic650';
    src: url('StereoGothic-650Italic.eot'); /* IE9 Compat Modes */
    src: url('StereoGothic-650Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('StereoGothic-650Italic.woff') format('woff'), /* Modern Browsers */
         url('StereoGothic-650Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('StereoGothic-650Italic.svg#StereoGothic-650Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

