/* Webfont: StereoGothic-500Italic */@font-face {
    font-family: 'StereoGothic500';
    src: url('StereoGothic-500Italic.eot'); /* IE9 Compat Modes */
    src: url('StereoGothic-500Italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('StereoGothic-500Italic.woff') format('woff'), /* Modern Browsers */
         url('StereoGothic-500Italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('StereoGothic-500Italic.svg#StereoGothic-500Italic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

