/* Webfont: StereoGothic-200 */@font-face {
    font-family: 'StereoGothic200';
    src: url('StereoGothic-200.eot'); /* IE9 Compat Modes */
    src: url('StereoGothic-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('StereoGothic-200.woff') format('woff'), /* Modern Browsers */
         url('StereoGothic-200.ttf') format('truetype'), /* Safari, Android, iOS */
         url('StereoGothic-200.svg#StereoGothic-200') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

