/* Webfont: StereoGothic-950 */@font-face {
    font-family: 'StereoGothic950';
    src: url('StereoGothic-950.eot'); /* IE9 Compat Modes */
    src: url('StereoGothic-950.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('StereoGothic-950.woff') format('woff'), /* Modern Browsers */
         url('StereoGothic-950.ttf') format('truetype'), /* Safari, Android, iOS */
         url('StereoGothic-950.svg#StereoGothic-950') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

