/* Webfont: SanFranciscoText-Semibold */@font-face {
    font-family: 'SanFranciscoTextSemiBold';
    src: url('SanFranciscoText-Semibold.eot'); /* IE9 Compat Modes */
    src: url('SanFranciscoText-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('SanFranciscoText-Semibold.woff') format('woff'), /* Modern Browsers */
         url('SanFranciscoText-Semibold.ttf') format('truetype'), /* Safari, Android, iOS */
         url('SanFranciscoText-Semibold.svg#SanFranciscoText-Semibold') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

