/* Webfont: SanFranciscoText-LightItalic */@font-face {
    font-family: 'SanFranciscoTextLight';
    src: url('SanFranciscoText-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('SanFranciscoText-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('SanFranciscoText-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('SanFranciscoText-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('SanFranciscoText-LightItalic.svg#SanFranciscoText-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

