

<div class="grid-block small-12 noscroll lax-item" ng-repeat="item in archive.archives track by $index">
	<div class="grid-content noscroll lax-container" sm-scene="tween-{{item.id}}" duration="200%" offset="0" trigger-hook="1">
		<div class="lax-wrapper" chocolat config="archive.config" instance="instance">
			<a  class="chocolat-image {{item.id}}" href="assets/images/archive/{{photo.src}}" sm-tween="tween-{{item.id}}" vars="{y: '{{archive.tween}}',scale:1, force3D:true}" ng-repeat="photo in item.images track by $index">
				<img ng-cloak ng-src="{{archive.imgPath + photo.thumb || '' }}" alt="" >
			</a>
		</div>
		<div class="lax-deets grid-block nowrap" ng-cloak>
			<div class="grid-block ">
				<div class="grid-content collapse small-6">
					<!--<p class="small archive-label ">Client</p>-->
					<h5 class="archive-data m-t-t"><small>{{item.client}}</small></h5>
				</div>
				<div class="grid-content collapse small-6 text-right">
					<p class="tiny weight-500 uppercase">{{item.role}}</p>
				</div>
			</div>
		</div>
	</div>

</div>
