.lax-item {
	height:      100vh;
	overflow:    hidden;
	align-items: center;
	justify-content: center;
	+ * {
		margin-top: $spacing-giant;
	}
	@include media('<=medium') {
		height:      auto;
		&:first-of-type {
			margin-top: 6rem;
		}
	}

}
$lax-width: 65vw;
$lax-width-sm: 95vw;

.lax-container {
	width: $lax-width;
	height: $lax-width * .56;
	@include media('<=medium') {
		width: $lax-width-sm;
		height: $lax-width-sm * .56;
	}
	flex: 0 0 auto;
	padding: 0 !important;
	margin-bottom:3rem;
	//@include p($spacing-giant*2, horizontal);
	//@include media('<large') {
	//	@include p($spacing-default*2, horizontal);
	//}
	//@include media('>giant') {
	//	height: 90vh;
	//}
	position:            relative;
	backface-visibility: hidden;
	.lax-wrapper {
		height:              100%;
		overflow:            hidden;
		backface-visibility: hidden;
		position:            relative;
	}
	a {
		will-change:         transform;
		display:             none;
		overflow:            hidden;
		position:            absolute;
		bottom:                 0;
		left:                0;
		transform:           translate3d(0, 0, 0);
		backface-visibility: hidden;
		height:              110%;
		width:               100%;
		&:first-child {
			display: block;
		}
		&.cherub {
			img {
				top: 5%;
			}
		}
		img {
			display:             inline-block;
			position:            absolute;
			top:                 0;
			height:              auto;
			//max-width:           none;
			//min-width: 100%;
			left:                50%;
			transform:           translate3d(-50%, 0, 0);
			backface-visibility: hidden;
			//height: 100%;
			//width: auto;
			//max-width: none;
		}
	}
}

.lax-deets {
	position:  absolute;
	bottom:    0;
	left: 0;
	margin:    0 !important;
	transform: translate3d(0, 100%, 0);
	width:     100%;

	.grid-block {
		margin: 0;
	}
	.archive-label {
		text-transform: lowercase;
		font-family: $brandon;
		font-weight: 300;
		letter-spacing: .08rem;
		line-height:    1.5rem;
	}
	.archive-data {
		font-weight:    700;
		letter-spacing: 1px;
		line-height:    1rem;
	}
}

//
//.lax-target {
//
//		display: block;
//		position: absolute;
//		backface-visibility: hidden;
//		height: 120%;
//		width: 100%;
//		//top: 50%;
//		top: 0;
//		left: 50%;
//		transform: translate3d(-50%,0,0);
//}
//.lax-image {
//	height: 100%;
//	width: 100%;
//	background-size: cover;
//	background-position: center center;
//	background-repeat: no-repeat;
//	&.cherub {
//		background-image: url('../assets/images/archive/cherub-sm.jpg');
//	}
//	&.classic-1 {
//		background-image: url('../assets/images/archive/classic-sm.jpg');
//	}
//	&.classic-2 {
//		background-image: url('../assets/images/archive/classic-alt-sm.jpg');
//	}
//}
