.lion {
	background-image:    url(../assets/images/lion-chopped-fade.svg);
	background-size:     contain;
	background-repeat:   no-repeat;
	background-position: 0 bottom;
}





.la {
	position: absolute;
	top:      0;
	left:     0;
	height:   100%;
	width:    100%;
	margin:   0;
	filter: contrast(85%) brightness(110%) saturate(75%);
	span {
		display:             block;
		height:              100%;
		width:               100%;
		top:                 0;
		left:                0;
		position:            absolute;
		background-image:     url(../assets/images/base/la-sm.jpg);
		background-size:     cover;
		background-repeat:   no-repeat;
		background-position: bottom;
	}
	&:after {
		//content:             "";
		display:             block;
		height:              100%;
		width:               100%;
		top:                 0;
		left:                0;
		position:            absolute;
		pointer-events:      none;
		mix-blend-mode:      soft-light;
		opacity:             0.3;
		background-image:    url(../assets/images/base/wave.svg);
		background-size:     cover;
		background-repeat:   no-repeat;
		background-position: bottom;
	}
	&:before {
		//content:             "";
		display:             block;
		height:              100%;
		width:               100%;
		top:                 0;
		left:                0;
		position:            absolute;
		pointer-events:      none;
		mix-blend-mode:      soft-light;
		opacity:             0.3;
		z-index:             3;
		//background-image: url(../assets/images/eye.svg);
		//background-size: 50%;
		background-image:    url(../assets/images/base/wave2.svg);
		background-size:     cover;
		background-repeat:   no-repeat;
		background-position: center center;
		//
	}
}

.about-content {
	z-index:        5;
	mix-blend-mode: multiply;
	opacity:        0.9;
}

