scroll-menu {
	position: fixed;
	top:      $spacing-large * 2;
	left:     $menu-width - $spacing-huge;
	z-index:  101;
	width:    7rem;
	@include media('<=medium') {
	display: none !important;
	}

	.vertical.menu-bar {
		background: transparent;
		li {
			flex-flow: column nowrap;
			transform: translate3d(0, 0, 0);
			a {
				transform: translate3d(0, 0, 0);
				@include roar-fontsize('theta', all);
				transition: all 200ms $ease-out-back;
			}
			&:hover,
			&.active {
				> a {
					transform: translate3d(.1rem, 0, 0);
				}
			}

			&.active {
				a {
					//color: $gold;
				}
			}
		}
	}
}
