/* Webfont: Antenna-Light */@font-face {
    font-family: 'AntennaLight';
    src: url('Antenna-Light.eot'); /* IE9 Compat Modes */
    src: url('Antenna-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Antenna-Light.woff') format('woff'), /* Modern Browsers */
         url('Antenna-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Antenna-Light.svg#Antenna-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

