/* Webfont: AntennaCond-BlackItalic */@font-face {
    font-family: 'AntennaCondBlack';
    src: url('AntennaCond-BlackItalic.eot'); /* IE9 Compat Modes */
    src: url('AntennaCond-BlackItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AntennaCond-BlackItalic.woff') format('woff'), /* Modern Browsers */
         url('AntennaCond-BlackItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AntennaCond-BlackItalic.svg#AntennaCond-BlackItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

