/* Webfont: AntennaComp-MediumItalic */@font-face {
    font-family: 'AntennaCompMedium';
    src: url('AntennaComp-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('AntennaComp-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AntennaComp-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('AntennaComp-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AntennaComp-MediumItalic.svg#AntennaComp-MediumItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

