/* Webfont: AntennaExtraCond-ThinItalic */@font-face {
    font-family: 'AntennaExtraCondThin';
    src: url('AntennaExtraCond-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('AntennaExtraCond-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AntennaExtraCond-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('AntennaExtraCond-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AntennaExtraCond-ThinItalic.svg#AntennaExtraCond-ThinItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

