/* Webfont: AntennaCond-ThinItalic */@font-face {
    font-family: 'AntennaCondThin';
    src: url('AntennaCond-ThinItalic.eot'); /* IE9 Compat Modes */
    src: url('AntennaCond-ThinItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AntennaCond-ThinItalic.woff') format('woff'), /* Modern Browsers */
         url('AntennaCond-ThinItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AntennaCond-ThinItalic.svg#AntennaCond-ThinItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

