/* Webfont: AntennaExtraCond-Regular */@font-face {
    font-family: 'AntennaExtraCondRegular';
    src: url('AntennaExtraCond-Regular.eot'); /* IE9 Compat Modes */
    src: url('AntennaExtraCond-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('AntennaExtraCond-Regular.woff') format('woff'), /* Modern Browsers */
         url('AntennaExtraCond-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('AntennaExtraCond-Regular.svg#AntennaExtraCond-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

