/* Webfont: BrandonText-Light */@font-face {
    font-family: 'BrandonTextLight';
    src: url('BrandonText-Light.eot'); /* IE9 Compat Modes */
    src: url('BrandonText-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('BrandonText-Light.woff') format('woff'), /* Modern Browsers */
         url('BrandonText-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('BrandonText-Light.svg#BrandonText-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

