<nav class="vertical-menu grid-block">
	<div class="grid-content">
		<div class="logo">
			<a ui-sref="home"><h5>David<span class="bold">Victor</span></h5></a>
		</div>
		<ul class="vertical menu-bar">
			<li ng-class="{'active' : item.active}"
			    ng-repeat="item in vm.config.data track by $index">

				<a ng-href ng-click="vm.toggle($event, item)">
					<span>{{::item.label}}</span>
					<i class="fa pull-right"
					   ng-class="{'fa-chevron-left' : !item.active, 'fa-chevron-down' : item.active}"
					   ng-if="vm.hasChildren(item)"></i>
				</a>
				<ul class="vertical menu-bar sbm-collapse-{{::vm.getId($index)}}"
				    ng-if="vm.hasChildren(item) && item.active">
					<li ng-repeat="child in item.children track by $index">
						<a ng-href ng-click="vm.toggle($event, child);">
							<span>{{::child.label}}</span>
						</a>
					</li>
				</ul>
			</li>

		</ul>

	</div>
</nav>

<ul class="icon-top menu-bar">
	<li><a href="#"><img zf-iconic="" data-src="assets/img/iconic/social.svg" data-type="linkedin" size="small" class="iconic-color-primary"></a></li>
	<li><a href="#"><img zf-iconic=""data-src="assets/img/iconic/social.svg" data-type="github" size="small" class="iconic-color-primary"></a></li>
</ul>
