/* Webfont: EamesCenturyModern-MediumItalic */@font-face {
    font-family: 'EamesCenturyModernMedium';
    src: url('EamesCenturyModern-MediumItalic.eot'); /* IE9 Compat Modes */
    src: url('EamesCenturyModern-MediumItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('EamesCenturyModern-MediumItalic.woff') format('woff'), /* Modern Browsers */
         url('EamesCenturyModern-MediumItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('EamesCenturyModern-MediumItalic.svg#EamesCenturyModern-MediumItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

